.navbar-brand {
    font-size: 30px !important;
    color: white;
}

.navbar-nav {
    li {
        font-size: 18px;
        margin-right: 10px;
        a {
            color: white;
            font-family: sans-serif;
            letter-spacing: 2px;
        }
    }
}