<div class=" container-fluid bg-dark d-flex flex-column p-5 justify-content-around align-items-center">
    <p class=" mb-4 mt-5 text-light title">Subscribe to our Job Seeker Mailing List</p>
    <input type="text" class=" form-control bg-dark mb-4" placeholder="Email Your Email Address">
</div>
<div class=" container-fluid bg-light d-flex justify-content-between align-items-center p-5">
    <div class="p-2">
        <p class=" mb-2">
            <input type="text">
        </p>
        <p>Copyright &copy; 2014 Two Bytes Consulting <b>Terms & Policies.</b></p>
    </div>
    <div></div>
</div>
