.title {
    color:  #ddd !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
.form-control {
    color: #ddd !important;
    font-style: italic;
    width: 20% !important;
    font-size: 14px;
}