<div class=" container-fluid bg-light d-flex flex-column p-5 justify-content-around align-items-center">
    <p class=" mb-4 mt-5">We're leaders in</p>
    <h1 class=" mb-4">Creative Degital Recruitment</h1>
    <div  style="width: 100px;height: 5px;" class=" bg-primary mb-4"></div>
    <span  class=" mb-4">Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity and that reflects on the type of jobs we recruit for.</span>
    <button mat-stroked-button color="primary">FIND MORE ABOUT US!</button>
</div>